@import "tailwindcss";


@theme{
  --font-poppins: "Poppins",sans-serif;
}

/* extend theme */
@theme {
  --translate-101: 101%;

  --animate-marquee: marquee 15s linear infinite;
}

/* keyframes go here */
@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

/*  */
*{
  @apply cursor-none;
}

.starterDiv{
  @apply min-h-[100dvh] flex justify-center text-4xl;
}

.mainDiv{
  @apply min-h-[100dvh] w-full overflow-x-hidden;
}
