@import "tailwindcss";


@theme{
  --font-poppins: "Poppins",sans-serif;
}

/* extend theme */
@theme {
  --translate-101: 101%;

  --animate-marquee: marquee 18s linear infinite;
}

/* keyframes go here */
@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

/*  */
*{
  @apply cursor-none;
}

*::-webkit-scrollbar-track
{
	/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
	background-color: #F5F5F5;
}

*::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb
{
	background-color: #000000;
}

.starterDiv{
  @apply min-h-[100dvh] flex justify-center text-4xl;
}

.mainDiv{
  @apply min-h-[100dvh] w-full overflow-x-hidden;
}
