@import "tailwindcss";


@theme{
  --font-poppins: "Poppins",sans-serif;
}

/*  */
*{
  @apply cursor-none;
}

.starterDiv{
  @apply min-h-[100dvh] flex justify-center text-4xl;
}

.mainDiv{
  @apply min-h-[100dvh] w-full overflow-x-hidden;
}
